    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    :root


    /* -----scrollbar----- */

    ::-webkit-scrollbar {
        display: none; /* Hides the scrollbar */
    }
    /* 
            ::-webkit-scrollbar {
                width: 3px;
                height: 5px; 
            }

            ::-webkit-scrollbar-thumb {
                background: #ff9900; 
                border-radius: 20px; 
                border: 1px solid #ffffff00; 
            }

            ::-webkit-scrollbar-track {
                background: #f1f1f100; 
                border-radius: 10px;
            }
    */


    html{
        scroll-behavior: smooth;
    }
    
    body {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100dvw;
        height: 100dvh;
        background-color: #000505;
        color: #D7FFFF;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .start{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        height: 100%;
    }

    .start1{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: fit-content;
    }

    .start1 h1,.start1 h2 {
        font-size: 60px;
        color: #003D3D;
    }

    /* .start .btn {
        padding: 10px 20px;
        background-color: #58FEFE;
        color: #000000;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;


    }
    
    .btn:hover {
        background-color: #003D3D;
    } */
    .btn, #btnName{
        color: #ffe600;        ;
        background-color: transparent;
        transition: all 0.5s;
        position: relative; 
        padding: 10px 20px;
        border: transparent;
        text-decoration: none;z-index: 4;
        /* border-radius: 25px; */
      }

      .btn {
        text-transform: uppercase;
        font-weight: bolder;

    }
      

      .btn-two span {
        z-index: 2; 
        display: block;
        position: absolute;
        width: 100%;
        height: 100%; 
      }
      .btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 95px 15px;
        transition: all 0.5s;
        border: 2px solid rgba(255,255,255,0.2);
        background-color: rgba(255,255,255,0.1);
      }
      .btn::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 95px 15px;
        transition: all 0.5s;
        border: 2px solid rgba(255,255,255,0.2);
        background-color: rgba(255,255,255,0.1);
      }
      .btn:hover{
        background-color: transparent;
        background-color: #0f0e17;
        animation: glowPulse 2s infinite ease-in-out;
        border-radius: 95px 15px;

      }
      .btn:hover::before {
        transform: rotate(-45deg);
        background-color: rgba(255,255,255,0);
      }
      .btn:hover::after {
        transform: rotate(45deg);
        background-color: rgba(255,255,255,0);
      }

      #btnName1{
        color: #ffffff;
        background-color: transparent;
        transition: all 0.5s;
        position: relative; 
        padding: 10px 20px;
        border: transparent;
        text-decoration: none;z-index: 4;
      }

      #explore-btn {
        position: relative;
        right: 500px;
        text-transform: uppercase;
        padding: 10px 20px;
        border: 5px solid transparent; 
        border-radius: 95px 15px;
        font-size: 16px;
        right: 400px;
        font-weight: bold;
        background-color: #cf10d677;
        color: #fafafa;
        cursor: pointer;
        animation: pulseGlow2 2s infinite; 
      }
      
      @keyframes pulseGlow2 {
        0% {
          transform: scale(1);
          box-shadow: 0 0 5px #ff00ff; 
        }
        50% {
          transform: scale(1.1); 
          box-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff; 
        }
        100% {
          transform: scale(1);
          box-shadow: 0 0 5px transparent; 
        }
      }

      #skill-btn {
        top: 10px;
        right: 600px;
      }

      #project-btn {
        top: 50px;
        left: 830px;
      }
      #contact-btn {
        top: 60px;
        color: #ee847a;
        left: 860px;
      }
      /* floating characteristics */

      .float{
        animation: floatUp 2s ease-out forwards, up-down 2.5s ease-in-out infinite, blur .5s ease-in forwards;

      }

      #flt1 {
        position: absolute; 
        top: 130px; 
        right: 610px;
        font-style: italic;
        width: 170px;
        border-radius: 20px 40px;
        background-color: #2f00ff;
        padding: 10px 15px;
        color: #f3f3f3;
        
        animation: pulse 2s infinite; 
      }
      
      @keyframes pulse {
        0% {
          transform: scale(1) translateY(0); 
        }
        50% {
          transform: scale(1.1) translateY(-10px); 
        }
        100% {
          transform: scale(1) translateY(0); 

        }
      }
      
      #flt1:hover {
        box-shadow: 0 0 20px #2f00ff, 0 0 80px #2f00ff; 
        transform: scale(1.1) translateY(-10px); 
        cursor: pointer; 
      }

      #flt2 {
        position: absolute; 
        top: 280px; 
        right: 140px; 
        font-style: italic;
        width: 100px;
        border-radius: 20px 40px;
        background-color: red;
        padding: 10px 15px;
        color: #f3f3f3; 
        
        animation: pulse 2s infinite; 
      }
      
      @keyframes pulse {
        0% {
          transform: scale(1) translateY(0); 
        }
        50% {
          transform: scale(1.1) translateY(-10px); 
        }
        100% {
          transform: scale(1) translateY(0); 

        }
      }
      
      #flt2:hover {
        box-shadow: 0 0 20px #ff0000, 0 0 80px #ff0000; 
        transform: scale(1.1) translateY(-10px); 
        cursor: pointer; 
      }
      
      #flt3 {
        position: absolute; 
        top: 480px; 
        right: 570px; 
        font-style: italic;
        width: 100px;
        border-radius: 20px 40px;
        background-color: #ff8800;
        padding: 10px 15px;
        color: #f3f3f3;
        animation: pulse 2s infinite; 
      }
      
      @keyframes pulse {
        0% {
          transform: scale(1) translateY(0); 
        }
        50% {
          transform: scale(1.1) translateY(-10px);
        }
        100% {
          transform: scale(1) translateY(0);

        }
      }
      
      /* Glowing effect on hover */
      #flt3:hover {
        box-shadow: 0 0 20px #ff8800, 0 0 80px #ff8800; 
        transform: scale(1.1) translateY(-10px); 
        cursor: pointer; 
      }

      #flt4 {
        position: absolute; 
        top: 650px; 
        right: 80px; 
        font-style: italic;
        width: 215px;
        border-radius: 20px 40px;
        background-color: #ff0062;
        padding: 10px 15px;
        color: #f3f3f3; 
        animation: pulse 2s infinite; 
      }
      
      @keyframes pulse {
        0% {
          transform: scale(1) translateY(0);
        }
        50% {
          transform: scale(1.1) translateY(-10px); 
        }
        100% {
          transform: scale(1) translateY(0); 

        }
      }
      
      /* Glowing effect on hover */
      #flt4:hover {
        box-shadow: 0 0 20px #ff0062, 0 0 80px #ff0062;
        transform: scale(1.1) translateY(-10px);
        cursor: pointer;
      }

      /* fireflies */

      #flt5 {
        position: absolute; 
        top: 250px; 
        right: 680px; 
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
      
        background: #bbff00b3;
        filter: blur(5px);
      
        box-shadow: 0 0 15px #bbff00b3, 0 0 90px #eeff00b3;
      
        animation: glowPulse 2s infinite ease-in-out; 
      }
      
      @keyframes glowPulse {
        0% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
        50% {
          box-shadow: 0 0 110px #bbff00b3, 0 0 200px #eeff00b3;
          transform: scale(1.1);
        }
        100% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
      }

      #flt6 {
        position: absolute; 
        top: 50px; 
        right: 280px; 
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
      
        background: #bbff00b3;
        filter: blur(5px);
      
        box-shadow: 0 0 15px #bbff00b3, 0 0 90px #eeff00b3;
      
        animation: glowPulse 2s infinite ease-in-out; 
      }
      
      @keyframes glowPulse {
        0% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
        50% {
          box-shadow: 0 0 110px #bbff00b3, 0 0 200px #eeff00b3;
          transform: scale(1.1);
        }
        100% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
      }
      
      #flt7 {
        position: absolute; 
        top: 70px; 
        right: 980px; 
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
      
        background: #bbff00b3;
        filter: blur(5px);
      
        box-shadow: 0 0 15px #bbff00b3, 0 0 90px #eeff00b3;
      
        animation: glowPulse 2s infinite ease-in-out; 
      }
      
      @keyframes glowPulse {
        0% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
        50% {
          box-shadow: 0 0 110px #bbff00b3, 0 0 200px #eeff00b3;
          transform: scale(7.1);
        }
        100% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
      }

      #flt8 {
        position: absolute; 
        top: 500px; 
        right: 80px; 
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
      
        background: #bbff00b3;
        filter: blur(5px);
      
        box-shadow: 0 0 15px #bbff00b3, 0 0 90px #eeff00b3;
      
        animation: glowPulse 2s infinite ease-in-out; 
      }
      
      @keyframes glowPulse {
        0% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
        50% {
          box-shadow: 0 0 110px #bbff00b3, 0 0 200px #eeff00b3;
          transform: scale(2.1);
        }
        100% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
      }
      
      #flt9 {
        position: absolute; 
        top: 320px; 
        right: 1280px; 
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
      
        background: #bbff00b3;
        filter: blur(5px);
      
        box-shadow: 0 0 15px #bbff00b3, 0 0 90px #eeff00b3;
      
        animation: glowPulse 2s infinite ease-in-out; 
      }
      
      @keyframes glowPulse {
        0% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
        50% {
          box-shadow: 0 0 110px #bbff00b3, 0 0 200px #eeff00b3;
          transform: scale(1.1);
        }
        100% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
      }
      
      #flt10 {
        position: absolute; 
        top: 620px; 
        right: 770px; 
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
      
        background: #bbff00b3;
        filter: blur(5px);
      
        box-shadow: 0 0 15px #bbff00b3, 0 0 90px #eeff00b3;
      
        animation: glowPulse 2s infinite ease-in-out; 
      }
      
      @keyframes glowPulse {
        0% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
        50% {
          box-shadow: 0 0 110px #bbff00b3, 0 0 200px #eeff00b3;
          transform: scale(1.1);
        }
        100% {
          box-shadow: 0 0 15px #bbff00b3, 0 0 30px #bbff00b3;
          transform: scale(1);
        }
      }
      
    /*-----nav-----*/

    .navigation {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        background: rgba(248, 248, 248, 0.199); 
        box-shadow: 0 8px 32px 0 rgba(142, 143, 165, 0.37);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
    }
    
    #icon {
        display: flex;
        height: 50px;
    }
    
    nav {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
    nav ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
    }
    
    nav a {
        color: #111111;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        animation: pulseGlow 1.5s infinite ease-in-out;
    }
    
    @keyframes pulseGlow {
        0% {
            text-shadow: 0 0 1px rgba(0, 255, 255, 0.5), 0 0 5px rgba(0, 255, 255, 0.4), 0 0 15px rgba(0, 255, 255, 0.3);
        }
        50% {
            text-shadow: 0 0 5px rgba(0, 255, 255, 1), 0 0 5px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.6);
        }
        100% {
            text-shadow: 0 0 1px rgba(0, 255, 255, 0.5), 0 0 5px rgba(0, 255, 255, 0.4), 0 0 15px rgba(0, 255, 255, 0.3);
        }
    }
    
    
    nav a:hover {
        color: #00ffff;
    }

    /* .hero-content{
        display: flex;
        background-color: red;
    }
    */
    
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px 20px;
        background-image: url(images/bg7.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 0 50px 50px;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-size: 100% 14 0%;
        -webkit-mask-repeat: no-repeat;
    }

    #hero-image{
        width: 520px;
        object-fit: contain;
        position: relative;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-size: 100% 14 0%;
        -webkit-mask-repeat: no-repeat;
        mask-image: linear-gradient(to bottom, #0f0e17, #0f0e17, #0f0e17ee,#0f0e1700);

    }

    .hero2{
        display: flex;
    }

    .intro{
        display: flex;
        flex-direction: column;
        margin-top: -60px;
        align-self: center;
        margin-left: 200px;
        padding: 0 50px;
        height: fit-content;
        width: 900px;
        align-items: center;

    }
    
    .intro h1, .intro h3 {
        color: #d875cb;
        text-align: center;
        margin-bottom: 10px;
        font-size: 2.0rem;
    }
    
    .intro p {
        color: #222;
        max-width: 800px;
        font-size: 1.8rem;
        margin: auto;
        font-weight: 500;
        margin-bottom: 20px;
        text-align: justify;
    }
    
    .container button {
        background-color: transparent;
        color: #000000;
        text-transform: capitalize;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        margin-left: 1200px;
        margin-bottom: 200px;
        width: 20%;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
    
    .container button:hover {
        background-color: transparent;
    }

    #typing-animation {
        font-size: 2rem;
        line-height: 1.5;
        white-space: pre-wrap; 
        display: inline-block; 
        overflow: hidden; 
        animation: blink-caret 1.0s step-end infinite;
        font-size: 3.5rem;
        align-self: start;

      }
    /* About Section */
    .about-section{    
        /* background-color: red; */
        aspect-ratio: 16/8;    
    }

    .about {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 40px;

    }

    .info {
        display: flex;
        justify-content: center;
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        height: 900px;
        /* background-color: red; */
        /* transition: transform 0.3s ease; */
    }

    /* .info:hover {
    transform: scale(1.05);
    } */

    .info1 {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        width: 100%;
        gap: 30px;
    }

    .info2 {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 100%;
        
    }
    .info2 img {
        height: 600px;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-size: 100% 14 0%;
        -webkit-mask-repeat: no-repeat;

    }
    .info3 {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        width: 100%;
        padding: 30px 50px;
        border-radius: 25px;
        gap: 10px;
        background-color: #222;

    }

    .info3 h1{
        font-size: 2rem;
        width: fit-content;
        color: #ffe600;

    }

    .info3 p{
        font-size: large;
        text-align: justify;
    }

    #map {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(290deg, #0f0e17ef, #0f0e17a4, rgba(0,0,0,0)), url(images/map.png);
        background-position: 40% 45%;
        border-radius: 25px;
        height: 50%;
        width: 100%;
        align-self: center;
    }

    #about-section1 {
        position: relative;
        aspect-ratio: 16 / 8;
        display: flex;
        justify-content: center; 
        align-items: center; 
        background-color: transparent; 
        overflow: hidden;
        color: #fff;
      }
      
      /* Glowing pointer trail */
      .pointer-glow {
        position: absolute;
        width: 3px; 
        height: 3px;
        border-radius: 100%; 
        background: rgba(251, 255, 0, 0.192);
        box-shadow: 0 0 15px rgba(251, 255, 0, 0.7), 0 0 30px rgba(251, 255, 0, 0.9);
        pointer-events: none;
        transform: translate(-50%, -50%); 
        animation: fadeOut 10s forwards; 
      }
      
      /* Fading animation */
      @keyframes fadeOut {
        0% {
          opacity: 1;
          transform: scale(1);
        }
        100% {
          opacity: 0;
          transform: scale(2); 
        }
      }
            

    /* Skills Section */
    .skills-section {
        /* background-color: red; */
        background: rgb(246,246,246);
        background: linear-gradient(0deg, rgba(246,246,246,1) 2%, rgba(227,227,227,1) 3%, rgba(93,93,93,0.8155637254901961) 31%, rgba(0,0,0,1) 90%);    
    }
    .skills-content{
        height: 100%; 
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skills-content h1{
        font-size: 2rem;
        width: fit-content;
        color: #ffe600;
    }

    .skills-content p{
        font-size: large;
        width: 50%;
        color:#5c5f82;
        text-align: center;
    }
    
    .skills-container {
        padding: 100px 40px 200px 40px;
    }

    .skills {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 40px;
    }

    .skill {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .skills1 {
        display: flex;
        flex-direction: column;
        background-color: #222;
        border-radius: 10px;
        gap: 10px;
        padding: 40px 50px;
        text-align: center;
        justify-content: center;
        height: fit-content;
        width: 250px;
        transition: transform 0.3s ease;
        opacity: 40%;
    }

    /* .skills1 img{
        margin-top: 20px;
        align-self: center;
        /* height: 100px;
        width: 100px; 
        aspect-ratio: 3/2;
    } */

    .skills1:hover {
        transform: scale(1.05);
        filter: grayscale(0);
        filter: saturate(1);
        transform: scale(1.15);
        transition-delay: 80ms;
        opacity: 100%;
    }

    .skills2 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
        height: 230px;
    }
/* 
    button {
        background-color: #ff7b00;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
        width: 20%;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
    
    button:hover {
        background-color: #e66b00;
    } */

    .skill-icon{  
        display: flex;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;  
        object-fit: cover;
        align-items: center;
        justify-content: center;
        mix-blend-mode: lighten;
    }

    .skill-icon img {
        width: 80px;
        height: 80px;
    }


    /* projects Section */
    .projects-section {
        background-image: url(images/bg1.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: 16/8;
        /* height: 100%;  */
        -webkit-mask-repeat: no-repeat;
        mask-image: linear-gradient(to bottom, #0f0e17, #0f0e17, #0f0e17ee,#0f0e1700);
    }

    .projects-container{
        padding: 100px 40px 200px 40px;

    }

    .projects-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .projects-content h1{
        font-size: 2rem;
        width: fit-content;
        color: #e73626;
    }

    .projects-content p{
        font-size: large;
        width: 50%;
        color: #b8554c;
        text-align: center;
    }

    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-self: center;
        width: 90%;
        gap: 40px;
        padding: 40px;


    }
    .project img {
        width: 310px;
        max-height: fit-content;
        border-radius: 10px;

    }

    .project h3{
        color: #ff5ea9;
        font-weight: bold;
        font-size: 1.3rem;
    
    }

    .project p{
        color: #f5caef;
        font-size: large;
    }
    
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f1c4ee79;
        height: max-content;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        gap: 10px;
        width: 335px;
        transition: transform 0.3s ease;
        filter: grayscale(100);
        filter: saturate(0);
        opacity: 50%;
        transition: transform 0.3s ease;
    }

    
    .project:hover {
        filter: grayscale(0);
        filter: saturate(1);
        transform: scale(1.15);
        transition-delay: 100ms;
        opacity: 100%;
        background-color: #5c5f82;

    }
    /* .projects:hover {
        filter: grayscale(0);
        filter: saturate(1);
        transform: scale(1..01);
        transition-delay: 80ms;
        opacity: 100%;

    } */

/* Contacts Section Styles */
.contacts-section {
    background-color: #020808;
    padding: 50px 0;
    text-align: center;
    color: white;
    aspect-ratio: 18/8;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-size: 100% 14 0%;

  }
  
  .contact-info {
    max-width: 800px;
    margin: 0 auto 40px;
  }
  
  .contact-info h2 {
    font-size: 2.5rem;
    color: #cccccc;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    font-size: 1.1rem;
    color: #cccccc;
    margin: 10px 0;
  }
  
  .contact-info strong {
    font-weight: bold;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #cccccc54;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    opacity: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }

  .contact-form textarea{
    height: 300px;
  }
  
  .contact-form button {
    background-color: #012438;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .contact-form button:hover {
    background-color: #013038;
  }
  
  .contact-form button:disabled {
    background-color: #be95be;
    cursor: not-allowed;
  }
  
  /* Footer Section Styles */
  .footer-section {
    background: rgba(248, 248, 248, 0.199); 
    box-shadow: 0 8px 32px 0 rgba(142, 143, 165, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content p {
    font-size: 1.1rem;
    color: #ccc;
  }
  
  .footer-content ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
  }
  
  .footer-content ul li {
    display: inline-block;
    margin: 0 15px;
  }
  
  .footer-content ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .footer-content ul li a:hover {
    color: #00ffff;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .contact-info {
      padding: 20px;
    }
  
    .contact-form {
      padding: 20px;
    }
  
    .footer-content ul li {
      display: block;
      margin: 10px 0;
    }
  }
    

    /* contacts Section */
    /* .contacts-section {
        aspect-ratio: 16/8;
    }

    .contact-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #222;

    }

    /* Footer Section */

    /* .footer-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #000000;
        background: rgba(248, 248, 248, 0.8); 
        box-shadow: 0 8px 32px 0 rgba(142, 143, 165, 0.37);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px); 
    } */
    

